.main-content {
    min-height: 100vh;
}
#scroll-horizontal_filter label{
    padding: 2px 10px;
    background-color: #eff2f5;
    border-radius: 4px;
    color: #7e7e7e;
}
#scroll-horizontal_filter label input {
    border: none;
    border-radius: 0;
    background-color: #eff2f5;
    color: black;
}
/* .invalid-feedback-server{
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #f06548;
} */
.was-validated :invalid~.select2-container .select2-selection--single,
.invalid-feedback-server {
    border: 1px solid #f06548;
}
/* .select2-container--focus .select2-selection--single {
    border: 1px solid #0ab39c;
} */
.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #ced4da;
    background-image: none;
}